.main_2{
    overflow: hidden;
}
.main_2 .main1-inner-left {
    width: calc(40%);
}
.main_2 .main1-inner-left {
    background: linear-gradient(75deg, #0088c1, #0058a2);
    width: calc(40%);
    float: left;
    padding: 260px 0 140px;
}
.main_2 .main1-inner-right {
    width: calc(60%);
    float: right;
}
.main_2 .notice-box .list ul li:nth-child(1) {
    height: 120px;
    border: 1px solid #fff;
    padding: 30px 35px;
    margin-top: 20px;
    width: calc(100% - 75px);
}
.main_2 .popupzone-box{
    width: 85%;
}
.main_2 .notice-box .list ul li {
    margin-bottom: 15px;
}
a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    display: inline-block;
}