
        footer .bottom-banner-wrap {
            position: relative;
            bottom: inherit;
            left: inherit;
            width: 100%;
            /* height: 50px; */
            border-top: 1px solid #e6e6e6;
            background-color: #f8f8f8;
            padding: 18px 0;
        }

        footer .banner-wrap {
            overflow: hidden;
        }

        footer .banner-wrap > .banner-t6 {
            float:left;
            padding-right:30px;
            padding-left:0;
        }

        footer .banner-wrap .banner-t6 .control {
            font-size: 0;
            padding: 10px 0;
            float: left
        }

        footer .banner-wrap .banner-t6 .control a {
            font-size: 13px;
            display: inline-block;
            margin-right: 10px;
        }

        footer .banner-wrap > .banner-box6 {
            float: left;
            /* width: calc(100% - 295px); */
            padding: 10px 100px;
        }

        footer .banner-wrap .banner-t6-after {
            float: right;
        }

        footer .banner-wrap .banner-t6-after .control {
            font-size: 0;
            padding: 10px 0;
        }

        footer .banner-wrap .banner-t6-after .control a.stop.active {
            display: inline-block;
        }

        footer .banner-wrap .banner-t6-after .control a.stop {
            padding-right: 10px;
        }

        #footer .img {
            max-width: 100%;
            max-height: 100%;
        }

        /* ν‘Έν„°2 */
        #footer_2 {
            color: #b5b5b5;
            background: #3d3d3d;
            padding: 45px 0 20px;
            position: relative;
        }

        footer .top-box {
            position: relative;
            box-sizing: border-box;
            padding-bottom: 25px;
        }

        footer .bottom-box {
            position: relative;
            border-top: 1px solid #4c4c4c;
            box-sizing: border-box;
            padding: 35px 0;
        }
        
        #footer_2 h3 {
            color: #c29f7b;
            font-size: 15px;
        }

        #footer_2 address {
            text-align: left;
        }
        
        footer address {
            font-weight: 600;
        }
        
        #footer_2 address p {
            padding: 15px 0;
            display: block;
        }
        
        #footer_2 address em {
            color: #b1b1b1;
            font-size: 14px;
            font-size: normal;            
        }

        #footer_2 address span {
            color: #8a8a8a;
            font-size: 13px;
            text-transform: uppercase;
            display: block;
        }

        #footer_2 address span {
            text-align: left;
        }

        footer .mobile-view {
            display: none;
        }
        
        #footer_2 .info a {
            color: #b1b1b1;
            font-size:  15px;
            text-decoration: none;
        }

        #footer_2 .top-box .info {
            text-align: left;
        }

        #footer_2 .bottom-box .info {
            padding: 12px 0;
            box-sizing: border-box;
            text-align: left;
        }

        .txt-menu-bar {
            width: 1px;
            height: 11px;
            margin: 0 18px;
            background: #b1b1b1;
        }

        #footer_2 select {
            font-size: 14px;
            height: 45px;
            padding: 0 30px 0 20px;
            margin-right: 55px;
            border: 0;
            color: #fff;
            background: #2C2C2C
        }

        footer .banner-wrap .banner-box6 img {
            max-width: 100%;
            height: 100%;
        }
       

      